* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

p {
    text-align: center;
    margin: 0 75px;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 50px;
}

.link {
    margin: 10px;
}

.link a {
    text-decoration: none;
}

.link a:hover {
    color: grey;
}